<script setup lang="ts">
import { ref } from "vue";
</script>

<template>
  <v-container>
    <v-card class="mx-auto" max-width="950"
      ><div style="text-align: center; margin-top: 20px">
        <v-avatar color="black" image="pm.jpg" size="185"></v-avatar>
      </div>

      <div style="text-align: center">
        <v-card-title>Thanya Akharawimonkun</v-card-title><br />
      </div>

      <v-row justify="center">
        <v-col cols="11">
          <v-table>
            <thead>
              <tr>
                <th>EDUCATIONAL INFORMATION</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>รหัสประจำตัว:</td>
                <td>63160284</td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
              <tr>
                <td>หลักสูตร :</td>
                <td>
                  2115020 วท.บ. (วิทยาการคอมพิวเตอร์) ปรับปรุง 59 - ป.ตรี 4 ปี
                  ปกติ
                </td>
              </tr>

              <tr>
                <td>ระดับการศึกษา:</td>
                <td>ปริญญาตรี</td>
              </tr>
              <tr>
                <td>อ. ที่ปรึกษา:</td>
                <td>
                  อาจารย์ภูสิต กุลเกษม,ผู้ช่วยศาสตราจารย์ ดร.โกเมศ อัมพวัน
                </td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th>Interest</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>การทำขนม</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style scoped>
thead {
  background-color: rgb(214, 192, 186);
}
</style>
